include AUTHORS.rst
include LICENSE.txt
include CHANGELOG.rst
include README.md
include django_grappelli_custom_autocomplete/static/django_grappelli_custom_autocomplete/css/django-grappelli-custom-autocomplete.css
include django_grappelli_custom_autocomplete/static/django_grappelli_custom_autocomplete/js/grp_custom_autocomplete_functions.js
include django_grappelli_custom_autocomplete/static/django_grappelli_custom_autocomplete/js/jquery.grp_custom_autocomplete_fk.js
include django_grappelli_custom_autocomplete/static/django_grappelli_custom_autocomplete/js/jquery.grp_custom_autocomplete_m2m.js
include django_grappelli_custom_autocomplete/static/django_grappelli_custom_autocomplete/js/jquery.grp_custom_autocomplete_generic.js
include django_grappelli_custom_autocomplete/static/django_grappelli_custom_autocomplete/images/icons-s846f870921.png
include django_grappelli_custom_autocomplete/templates/admin/django_grappelli_custom_autocomplete/change_form.html
include django_grappelli_custom_autocomplete/templates/admin/django_grappelli_custom_autocomplete/edit_inline/stacked.html
include django_grappelli_custom_autocomplete/templates/admin/django_grappelli_custom_autocomplete/edit_inline/tabular.html
recursive-include django_grappelli_custom_autocomplete/ *.py *.css *.js